h1 { text-align: center;
    font-size: 55px
}

body {  
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif; 
        text-align: center; 
        margin-top: 50px;
        font-size: 30px;
        background-color: blanchedalmond;

}

#headsBtn {
        font-size: 25px;
        border-radius: 8px;

}
#tailsBtn {
        font-size: 25px;
        border-radius: 8px;

}

#result { 
    font-size: 2em; 
    margin-top: 26px; 
}
#coinImage {
        
        width: 200px;
        height: 100px;
        transition: transform 1s ease-in-out; /* Add a smooth transition */
    }



